.lightBorderHeader {
    display:block;
    margin: 0;
    padding: 0;
    min-height: 4.5rem;
    border-bottom: 10px double black;
    position: relative;
}

.darkBorderHeader {
    display:block;
    margin: 0;
    padding: 0;
    min-height: 4.5rem;
    border-bottom: 5px double black;
    position: relative;
}

.lightMode {
    background-color: #d7e6f0;
    color: black;
}

.darkMode {
    background-color: #153c72;
    color: white;
}

#sunIcon {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
}

#moonIcon {
position: absolute;
top: 1.8rem;
right: 1rem;
cursor: pointer;
font-size: 24px;
display: inline-block;
}

.lightMode input[type='text'],
.lightMode textarea {
    background-color: white;
    color: black;
}

.darkMode input[type='text'],
.darkMode textarea {
    background-color: black;
    color: white;
}

#post-area {
    display: flex;
    flex-wrap: wrap;
}

.blog-post-element {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.blog-post-element h2 {
    font-size: 1.2em;
    margin-top: 0;
}

.blog-post-element p {
    margin-bottom: 0;
}