html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.light {
    background-color: white;
    color: black;
    height: 100vh;
  }

  .dark {
    background-color: black;
    height: 100vh;
    color: #bebebe
   
  }

.switch input {
    border: 1px solid black;
}

.button {
    border: 1px solid black;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
