html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lightBorderHeader {
    display:block;
    margin: 0;
    padding: 0;
    min-height: 4.5rem;
    border-bottom: 10px double black;
    position: relative;
}

.darkBorderHeader {
    display:block;
    margin: 0;
    padding: 0;
    min-height: 4.5rem;
    border-bottom: 5px double black;
    position: relative;
}

.lightMode {
    background-color: white;
    color: black;
}

.darkMode {
    background-color: black;
    color: white;
}

#sunIcon {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
}

#moonIcon {
position: absolute;
top: 1.8rem;
right: 1rem;
cursor: pointer;
font-size: 24px;
display: inline-block;
}

main {
    display: flex;
    flex-direction: row;
}

#titleCardImage {
    border: 10px double #6d1b20;
    display: flex;
    position: relative;
    padding: 90px;
    margin: 90px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 10px double black;
}